body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    background-color: salmon;
    text-align: center;
    border-color: black;
    border-style: solid;
    border-radius: 55%;
    height: auto;
    width: 26%;
    font-size: 35px;
}

img{
    height: auto;
    width: 500px;
}

li {
    font-weight: bold;
}

